* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #011627;
    font-family: sans-serif;
}

.container {
    width: 1100px;

}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border: white 1px solid;
    color: #7fffd4;
}

.square.active {
    background-color: #7fffd4;
    color: #011627;
    font-weight: bold;
}