* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #011627;
    font-family: sans-serif;
}

nav {
    background-color: #132e50;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% / 10 - 1px / 10 * 9);

    border: white 1px solid;
    color: #7fffd4;
}

.square.active {
    background-color: #7fffd4;
    color: #011627;
    font-weight: bold;
}